.body-area {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
}
* {
  scroll-behavior: smooth;
}
.feild_right.active::after {
  content: "...";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0.3rem 0.2rem;
  font-size: 16px;
}
@media screen and (max-width: 460px) {
  .local-header {
    height: 55px;
    overflow: hidden;
  }
  .local-header.dropdown {
    height: 214px;
  }
  .local-header.dropdown i {
    transform: rotate(180deg);
    margin-top: 0px;
  }
}
