.SignIn .sign-in-header,
.SignUp .sign-in-header {
  height: 5rem;
  background-color: #f8f9fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignIn .sign-in-header img,
.SignUp .sign-in-header img {
  width: 230px;
}
