.button-wrapper a:first-child:hover {
  background-color: rgb(243, 243, 243) !important;
}
.select-box .MuiInput-root {
  position: relative !important;
  border: 1px solid rgba(0, 0, 0, 0.23);
  height: 50px !important;
  border-radius: 5px !important;
  padding: 0rem 0rem !important;
}
.select-box .MuiFormControl-root {
  width: 100% !important;
  margin: 0px !important;
}
.MuiInput-underline:before {
  border-bottom: none !important;
}
.step-2 .select-box .MuiInputLabel-animated {
  left: 13px;
  top: 8px;
}
.step-2 .MuiInputLabel-animated + div select:focus {
  background-color: transparent;
}
