.LocalHeader {
  background-color: #f75524;
  padding: 1rem 0rem;
}
.list_wrapper {
  display: flex;
  align-items: center;
}
.LocalHeader > ul li:first-child {
  display: none;
}
.item_link {
  color: #fff;
  margin-right: 5rem;
  display: flex;
  justify-content: space-between;
}
.item_link.active {
  font-weight: 600;
  text-decoration: underline;
}
@media screen and (max-width: 650px) {
  .item_link {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 460px) {
  .item_link {
    margin: 0px !important;
  }
  .LocalHeader > ul li:first-child {
    display: block;
  }
  .list_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  ul li {
    width: 100%;
  }
  ul .item_link {
    padding: 1rem 0rem;

    text-align: left;
  }
  ul li:first-child .item_link {
    padding-top: 0rem;
  }
}
