.header {
  height: 5rem;
  background-color: #f8f9fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 230px;
}
@media screen and (max-width: 680px) {
  .img {
    width: 180px;
  }
}
