* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.w-1000 {
  width: 1000px;
  margin: 0rem auto;
}

.skill_save_one,
.skill_save_two {
  pointer-events: none !important;
}

.skill_save_one.active,
.skill_save_two.active {
  pointer-events: all !important;
  background-color: #f75524 !important;
  color: #fff !important;
  border-color: #7a2a12 !important;
}

.skill_save_one:hover,
.skill_save_two:hover {
  color: #fff !important;
}
body {
  background-color: #ffffff;
}
@media screen and (max-width: 1000px) {
  .w-1000 {
    width: 95%;
  }
}
